@charset "UTF-8";

body {
  margin: 0;
  -ms-overflow-style: none;
}
body::-webkit-scrollbar {
  display: none;
}
a {
  text-decoration: none !important;
}
.slider-tick {
  width: 0;
  height: 0;
}
#header-depth1 {
  display: flex !important;
  padding: 0 35px;
}
.header-depth1-logo {
  margin-right: auto !important;
}
#header-depth2 {
  background: #fff;
  border-top: 1px solid lightgrey;
  padding: 0 20px;
}

.ui-autocomplete {
  left: 20px;
  width: 290px;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-state-active.ui-button:hover {
  border: 1px solid #f2f2f0;
  background: #f2f2f0;
  color: #444444;
}

.depth2 > a {
  display: inline-block;
  padding: 15px 20px;
  position: relative;
  font-size: 16px;
  line-height: 18px;
  color: lightgrey !important;
  cursor: pointer;
}
.depth2 > a.on {
  color: #125970 !important;
  font-weight: bold;
}
.depth2 > a.on::after {
  content: '';
  position: absolute;
  border-bottom: 2px solid #125970;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.searchbar {
  position: absolute;
  left: 20px;
  top: 78px;
  height: 100px;
  max-height: calc(100% - 40px);
  width: 360px;
  border: 1px solid lightgrey;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 2;
}
.search-input-area {
  position: relative;
  padding: 10px;
  height: 50px;
  border-bottom: 1px solid lightgrey;
  z-index: 3;
}
.search-input-liner {
  border: 1px solid #125970;
  border-radius: 4px;
  height: 30px;
}
.input-wrap {
  float: left;
  width: 305px;
  position: relative;
  overflow: hidden;
}

.search-input-area .search-input-liner .input-wrap input {
  width: 100%;
  height: 27px;
  border: none;
  outline: none;
  font-size: 13px;
  padding: 0 10px;
}
.input-close {
  width: 18px;
  position: absolute;
  top: 5px;
  right: 3px;
  cursor: pointer;
}
.btn-search-wrap {
  float: right;
  background-color: #125970;
  width: 30px;
  height: 28px;
}
.btn-search {
  width: 30px;
  height: 28px;
  background-color: #125970;
}
.search-input-area button {
  padding: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
}
.search-filter-area {
  height: 50px;
  padding: 7px 10px;
  border-bottom: 1px solid lightgrey;
}
.filter-text-wrap {
  float: left;
  padding: 5px 8px;
  height: 35px;
  width: 75%;
  border: 1px solid lightgrey;
}
.filter-text {
  text-align: center;
  line-height: 23px;
  font-size: 13px;
}
.filter-button {
  float: right;
  height: 35px;
  width: 25%;
  border: 1px solid dimgrey;
}
.filter-button-text {
  text-align: center;
  line-height: 32px;
  font-size: 14px;
  cursor: pointer;
}
.filter-contents-wrap {
  background-color: #fff;
}
.filter-contents-header {
  border-bottom: 1px solid lightgrey;
  position: relative;
}
.filter-contents-close {
  width: 30px;
  margin-top: 8px;
  margin-left: 13px;
  float: left;
  cursor: pointer;
}
.filter-contents-title {
  position: absolute;
  top: 8px;
  left: 55px;
  font-size: 19px;
}
.filter-contents-area {
  background-color: #ededed;
  overflow-y: auto;
  position: relative;
}
.filter-contents {
  background-color: #fff;
  height: 175px;
  margin-bottom: 18px;
}
.filter-title {
  padding: 10px 15px;
}
.filter-selected {
  padding-left: 13px;
  font-size: 18px;
  color: #125970;
  font-weight: bold;
}
.filter-row {
  width: 100%;
  display: flex;
  margin-top: 10px;
  padding: 0 12px;
}
.filter-col {
  width: 25%;
  padding: 8px;
  border: 1px solid lightgrey;
  text-align: center;
  cursor: pointer;
}
.filter-sel {
  color: #fff;
  background-color: dimgrey;
}

.apart-detail-header-area {
  z-index: 10;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #125970;
}
.apart-detail-header {
  position: relative;
  height: 87px;
  padding: 0 20px;
  text-align: center;
}

.apart-detail-close-btn {
  text-align: right;
  width: 28px;
  position: absolute;
  top: 15px;
  left: 5px;
}
.apart-detail-header-text {
  display: block;
  color: #fff;
  margin: 0 auto;
  overflow: hidden;
  font-size: 18px;
  line-height: 57px;
  height: 50px;
  font-weight: 300;
}
.apart-detail-header-address {
  display: block;
  font-size: 14px;
  color: #fff;
}

.apart-detail-result {
  background-color: #ededed;
}

.result-below {
  position: relative;
}

.result-buildyear {
  padding: 10px;
  font-size: 16px;
  height: 50px;
  background-color: #fff;
}
.result-like {
  width: 7%;
  float: right;
  position: absolute;
  top: 20%;
  right: 4%;
  cursor: pointer;
}
.result-area {
  background-color: #fff;
  position: relative;
}

.result-area-title {
  padding: 0 10px;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid lightgrey;
  font-size: 19px;
}
.price-area-price-title {
  padding: 10px;
  line-height: 30px;
  font-size: 18px;
  color: #125970;
  font-weight: bold;
}

.result-area-contents {
  width: 100%;
  /* height: 500px; */
  overflow: auto;
}

.price-table > thead > tr > th {
  position: sticky;
  border: 0;
  top: 0;
  background-color: #f5f5f5 !important;
}

.table tbody + tbody {
  border-top: 0;
}

.result-area-title-span {
  position: absolute;
  top: 13px;
  right: 10px;
  color: gray;
}

.result2-wrap {
  padding-top: 10px;
  background-color: #fff;
}
.result2-area {
  display: flex;
  padding: 5px 3px;
}
.result2-area-left {
  flex-basis: 70%;
}
.result2-area-left-down {
  font-size: 13px;
  line-height: 26px;
  color: dimgrey;
}
.result2-area-right {
  flex-basis: 30%;
  text-align: right;
}
.result2-area-right-up {
  color: #125970;
  font-size: 17px;
  font-weight: bold;
}
.result2-area-right-down {
  font-size: 13px;
  line-height: 26px;
  color: dimgrey;
}
.result2-area-more {
  background-color: #fff;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  border-bottom: 1px solid lightgrey;
}

/* wish list */
.wish-header-area {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
}
.wish-header {
  position: relative;
  font-size: 18px;
  padding: 20px;
  border-bottom: 1px solid lightgrey;
}

.left-close-btn {
  position: absolute;
  width: 11%;
  top: 14px;
  right: 14px;
  cursor: pointer;
}

.wish-house-body {
  display: flex;
  padding: 10px;
  width: 100%;
  border-bottom: 1px solid lightgrey;
  cursor: pointer;
}

.wish-house-image-area {
  width: 50%;
}
.wish-house-image {
  width: 100%;
  height: 100%;
}
.wish-house-contents-area {
  width: 47%;
  margin-left: 3%;
}
.wish-house-contents-price {
  font-size: 17px;
  font-weight: bold;
}
.wish-house-delete-button-area {
  float: right;
  margin-top: 10px;
}
.wish-house-body:hover {
  background-color: #f5f5f5;
}
